.navbar input{
    width: 300px;
    text-align: center;
}
@media (min-width: 768px){
    .navbar-expand-md {
        flex-flow: row nowrap;
        justify-content: space-evenly;
    }
}
.ml-auto{
    margin-left: 0 !important;
}

.navbar {
    border-bottom: 1px solid lightgray;
    background: #fff;
}